services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: frauddb
      POSTGRES_USER: frauduser
      POSTGRES_PASSWORD: fraudpass
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7

  django:
    build:
      context: .
      dockerfile: django_app/Dockerfile
    volumes:
      - ./django_app:/app
    working_dir: /app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  fastapi:
    build:
      context: .
      dockerfile: fastapi_app/Dockerfile
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    build:
      context: .
      dockerfile: django_app/Dockerfile
    command: celery -A core worker -l info
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
      - django

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - django
      - fastapi

volumes:
  postgres_data:
